rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /diplomas/{diploma} {
      // For this applet, allow read and write from anywhere.
      allow read, write: if true;
    }
  }
}
